@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;

    /* Adjusted to a light turquoise tone */
    --background-start-rgb: white;

    /* Keeping the end color close to white */
    --background-end-rgb: white;
}

/* Removed the prefers-color-scheme: dark block */

body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
        to bottom,
        transparent,
        rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}
