@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Setting up custom properties */
:root {
    --foreground-rgb: 0, 0, 0;
    --background-rgb: 255, 255, 255; /* white */
}

body {
    color: rgb(var(--foreground-rgb));
    background-color: rgb(var(--background-rgb)); /* Set background color to white */
}

/* Custom Utility Classes */
@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}
