@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
    color: #000; /* Text color set to black */
    background-color: #fff; /* Background color set to white */
}

/* Custom Utility Classes */
@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}
